/*header*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: font-family "Bebas Neue", sans-serif;
  background-color: #ffffff;
}

.slider {
  width: 90%;
  height: 700px;
  overflow: hidden;
  align-items: center;
  margin-left: 60px;
  margin-right: 60px;
}
.slider h1 {
  position: absolute;
  text-align: center;
  color: #f8f8d4;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
}
.slider p {
  position: absolute;
  text-align: center;
  color: #f8f8d4;
  align-items: center;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
}
.slider ul {
  display: flex;
  animation: cambio 20s infinite alternate linear;
  width: 400%;
  justify-content: center;
}
.slider ul li {
  width: 80%;
  list-style: none;
}
.slider ul li img {
  width: 100%;
  height: 70%;
}

@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -102%;
  }
  45% {
    margin-left: -102%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
/* Galeria */
.conteiner {
  width: 100%;
  max-width: 1200px;
  height: 430;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}
.conteiner-card {
  width: 330px;
  height: 430;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
}
.conteiner-card img {
  width: 330px;
  height: 230px;
}
.conteiner-card h2 {
  font-family: font-family "Bebas Neue", sans-serif;
  font-weight: 500;
  color: #051424;
}
.conteiner-card p {
  font-family: font-family "Josefin Sans", sans-serif;
  padding: 0 1rem;
  font-size: 16px;
  font-weight: 300;
  color: hsl(47, 9%, 41%);
}
.conteiner-card a {
  font-weight: 500;
  text-decoration: none;
}

.conteiner-card:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.proyecto-destacado {
  width: 100%;
  max-width: 1200px;
  height: 430;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}
.proyecto-destacado-conteiner {
  width: 800px;
  height: 600px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
}
.proyecto-destacado-conteiner h4 {
  font-weight: 500;
  color: #051424;
}
.proyecto-destacado-conteiner a {
  font-weight: 500;
  text-decoration: none;
}
.proyecto-destacado-conteiner a img {
  width: 100%;
  height: 100%;
}

.proyecto-destacado-conteiner:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

@media (max-width: 991px) {
  .slider {
    flex-direction: row;
    margin: 0px;
    width: 100%;
  }
  .slider h1 {
    font-size: 40px;
  }
  .slider p {
    font-size: 20;
  }
}
/* Seccion Proyetos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.proyectos-text h1 {
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 15px;
  font-size: 30px;
  font-family: font-family "Bebas Neue", sans-serif;
}
.proyectos-text p {
  margin-top: 50px;
  font-size: 20px;
  text-align: center;
  margin-bottom: 50px;
  font-family: font-family "Josefin Sans", sans-serif;
}

.conteiner .coleccion1 {
  width: 100%;
  max-width: 1400px;
  height: 430;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}
.conteiner .coleccion1-card {
  width: 350px;
  height: 500;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 50px;
  text-align: center;
  transition: all 0.25s;
  margin-bottom: 50px;
}
.conteiner .coleccion1-card img {
  width: 350px;
  height: 330px;
}
.conteiner .coleccion1-card h4 {
  font-weight: 500;
  font-family: font-family "Bebas Neue", sans-serif;
}
.conteiner .coleccion1-card p {
  padding: 0 1rem;
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
}
.conteiner .coleccion1-card a {
  font-weight: 500;
  text-decoration: none;
}

h2 {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: font-family "Bebas Neue", sans-serif;
}

.conteiner-card:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.5);
}

/* Secccion Contacto */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pantalla-divididaCon {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
}
.pantalla-divididaCon-izquierda {
  margin: 10px;
  padding: 10px;
  width: 30%;
}
.pantalla-divididaCon-izquierda-img {
  height: 200px;
  width: 100%;
}
.pantalla-divididaCon-izquierda p {
  font-size: 15px;
  color: #051424;
}

.contacto {
  background: #ffffff;
  width: 50%;
  margin: 10px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.contacto-form {
  width: 90%;
  max-width: 500px;
  border-radius: 1em;
  padding: 3.5em 1.5em;
  margin: 0;
  padding: 0;
}
.contacto-form-conteiner {
  display: grid;
  grid-auto-columns: auto;
  width: 100%;
}
.contacto-form-conteiner textarea {
  max-width: 500px;
  min-width: 500x;
  min-height: 300px;
  max-height: 300px;
}

@media (max-width: 991px) {
  .pantalla-dividida-izquierda {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 610px) {
  .pantalla-divididaCon {
    flex-direction: column;
  }
  .pantalla-divididaCon .pantalla-divididaCon-izquierda {
    height: 100%;
    width: 100%;
    justify-content: center;
  }
  .pantalla-divididaCon .pantalla-divididaCon-izquierda img {
    width: 50%;
  }
  .pantalla-divididaCon .contacto {
    height: 100%;
    width: 100%;
    margin: 10px;
    padding: 10px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

header {
  height: 80px;
}

.pantalla-div {
  display: flex;
}
.pantalla-div-izquierda {
  height: 100vh;
  width: 50%;
  justify-content: center;
  margin-bottom: 0px;
}
.pantalla-div-izquierda img {
  width: 90%;
  height: 40%;
  padding-left: 30px;
}
.pantalla-div-izquierda h1 {
  margin-top: 15px;
  text-align: center;
  font-size: 40px;
  font-family: font-family "Bebas Neue", sans-serif;
}
.pantalla-div-izquierda p {
  margin-top: 15px;
  text-align: center;
  font-size: 15px;
  font-family: font-family "Josefin Sans", sans-serif;
}
.pantalla-div-derecha {
  height: 100vh;
  width: 50%;
  justify-content: center;
  margin-bottom: 0;
}
.pantalla-div-derecha img {
  width: 90%;
  height: 40%;
  padding-left: 30px;
}
.pantalla-div-derecha h1 {
  margin-top: 15px;
  text-align: center;
  font-size: 40px;
  font-family: font-family "Bebas Neue", sans-serif;
}
.pantalla-div-derecha p {
  margin-top: 15px;
  text-align: center;
  font-size: 15px;
  font-family: font-family "Josefin Sans", sans-serif;
}

@media (max-width: 991px) {
  .pantalla-div {
    flex-direction: row;
    flex-direction: column;
  }
  .pantalla-div-izquierda {
    width: 100%;
    height: 100%;
  }
  .pantalla-div-izquierda img {
    width: 90%;
    height: 450px;
  }
  .pantalla-div-derecha {
    width: 100%;
    height: 100%;
  }
  .pantalla-div-derecha img {
    width: 90%;
    height: 450px;
  }
}
.pantalla-dividida {
  display: flex;
}
.pantalla-dividida-izquierda {
  height: 450px;
  width: 50%;
  justify-content: center;
}
.pantalla-dividida-izquierda img {
  width: 80%;
  height: 80%;
  padding-left: 30px;
  margin-left: 30px;
}
.pantalla-dividida-derecha {
  height: 450px;
  width: 50%;
  justify-content: center;
}
.pantalla-dividida-derecha img {
  width: 80%;
  height: 50%;
}
.pantalla-dividida-derecha h1 {
  margin-top: 15px;
  text-align: center;
  font-size: 40px;
  font-family: font-family "Bebas Neue", sans-serif;
}
.pantalla-dividida-derecha p {
  margin-top: 15px;
  text-align: center;
  font-size: 15px;
  font-family: font-family "Josefin Sans", sans-serif;
}

.pantalla-divididaDos {
  display: flex;
}
.pantalla-divididaDos-izquierdaDos {
  height: 800px;
  width: 50%;
  justify-content: center;
}
.pantalla-divididaDos-izquierdaDos img {
  width: 85%;
  height: 50%;
  padding-left: 30px;
  margin-left: 30px;
}
.pantalla-divididaDos-izquierdaDos h2 {
  margin-top: 15px;
  text-align: center;
  font-size: 40px;
  font-family: font-family "Bebas Neue", sans-serif;
}
.pantalla-divididaDos-izquierdaDos p {
  margin-top: 15px;
  text-align: center;
  font-size: 15px;
  font-family: font-family "Josefin Sans", sans-serif;
}
.pantalla-divididaDos-derechaDos {
  height: 800px;
  width: 50%;
  justify-content: center;
}
.pantalla-divididaDos-derechaDos img {
  width: 85%;
  height: 50%;
  padding-left: 30px;
  margin-left: 30px;
}
.pantalla-divididaDos-derechaDos h2 {
  margin-top: 0px;
  text-align: center;
  font-size: 40px;
  font-family: font-family "Bebas Neue", sans-serif;
}
.pantalla-divididaDos-derechaDos p {
  margin-top: 15px;
  text-align: center;
  font-size: 15px;
  font-family: font-family "Josefin Sans", sans-serif;
}

@media (max-width: 1004px) {
  .pantalla-dividida {
    flex-direction: column;
  }
  .pantalla-dividida-izquierda {
    width: 100%;
  }
  .pantalla-dividida-izquierda img {
    width: 90%;
    height: 100%;
  }
  .pantalla-dividida-derecha {
    width: 100%;
    margin: 10px;
    height: 100%;
  }
  .pantalla-divididaDos {
    flex-direction: column;
  }
  .pantalla-divididaDos-izquierdaDos {
    width: 100%;
    height: 100%;
  }
  .pantalla-divididaDos-izquierdaDos img {
    width: 90%;
    height: 450px;
  }
  .pantalla-divididaDos-derechaDos {
    width: 100%;
    height: 100%;
  }
  .pantalla-divididaDos-derechaDos img {
    width: 90%;
    height: 450px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  position: relative;
  background-color: #ffffff;
  padding: 15px 40px;
}

.logo h1 {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  color: #051424;
  transition: 0.15s ease-in-out;
  text-transform: uppercase;
  position: relative;
  font-size: 25px;
}

.menu {
  display: flex;
}
.menu li {
  padding: 10px;
  margin: 5px;
}
.menu li a {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  color: #051424;
  transition: 0.15s ease-in-out;
  text-transform: uppercase;
  position: relative;
  font-family: font-family "Bebas Neue", sans-serif;
  font-size: 14px;
  padding: 0px;
}

.menu li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #051424;
  transition: 0.15s ease-in-out;
}

.menu li a:hover:after {
  width: 100%;
}

.open-menu, .close-menu {
  position: absolute;
  color: #051424;
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
}

.open-menu {
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.close-menu {
  top: 20px;
  right: 20px;
}

#check {
  display: none;
}

@media (max-width: 610px) {
  .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100vh;
    z-index: 100;
    background-color: #ffffff;
    transition: all 0.2s ease-in-out;
  }
  .menu li {
    margin-top: 40px;
  }
  .menu li a {
    padding: 10px;
  }
  .open-menu, .close-menu {
    display: block;
  }
  #check:checked ~ .menu {
    right: 0;
  }
}
.footer {
  font-family: font-family "Josefin Sans", sans-serif;
  padding: 40px;
  background-color: #f8f8d4;
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}
.footer-redes {
  text-align: center;
  color: hsl(47, 9%, 41%);
}
.footer-redes a {
  font-size: 24px;
  color: inherit;
  border: 1px solid #a59292;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  opacity: 0.75;
}
.footer-list {
  margin-top: 0;
  padding: 0;
  list-style: none;
  font-size: 19px;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
}
.footer-list li {
  display: inline-block;
  padding: 0 15px;
}
.footer-list li a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}
.footer-titulo-final {
  text-align: center;
  font-size: 15px;
  margin: 10px 0 0 0;
  color: #000000;
}

.redes a:hover {
  opacity: 1;
}

.list li a:hover {
  opacity: 1;
}
