@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
}

/* nav index */
nav {
    text-align: right;
    padding: 30px 50px 0 0 ;
}
nav > a{
    color: #fff;
    font-weight: 300px;
    text-decoration: none;
    margin-right: 10px;
    
}
nav > a:hover{
    text-decoration: underline;
    
}

/* header */




/* footer */

footer{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    padding: 40px;
    background-color: #fff;
}

.redes{
    text-align: center;
    padding-bottom: 25px;
    color: #999797;
}

.redes a{
    font-size: 24px;
    color: inherit;
    border: 1px solid #a59292 ;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    opacity: 0.75;
}

.redes a:hover{
   opacity: 1;
}
.list {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 19px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.list li a{
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}
.list  li{
    display: inline-block;
    padding: 0 15px;
}
.list li a:hover{
    opacity: 1;
}


.titulo-final{
    text-align: center;
    font-size: 15px;
    margin: 10px 0 0 0;
    color: #000000;

}

                                    /* Secccion Contacto */

.headercontacto {
    background-color: #414141;
        width: 100%;
        height: 50px;
        background-size: cover; 
        position: relative;
        background-attachment: fixed;
}
.contacto-form{
    background-image: linear-gradient(15deg, #e2e2e2 0%, #6e6e6e 100%);
    min-height: 100vh;
    width: 100%;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
   
    

}
.formulario{ 
    width: 90%;
    max-width: 400px;
    border-radius: 1em;
    padding: 3.5em 1.5em; 
    margin: auto;
}

.form-conteiner {
    display: grid;
    grid-auto-columns: auto;
    width: 100%;
    width: 100%;
}

.form-title{
    text-align: center;
    margin-bottom: .4em;
    font-size: 2rem;

}

                                       /* Seccion Proyetos */
                                       
.headercontacto {
    background-color: #414141;
        width: 100%;
        height: 50px;
        background-size: cover; 
        position: relative;
        background-attachment: fixed;
}

.imagen-prod{
    width: 100%;

}


.proyecto{
    width: 90%;
    max-width: 1400px;
    margin: auto;
   

}

.proyecto h1{
    text-align: center;
    margin: 15px 0px 40px;
    font-size: 38px;

}

.proyecto-conteiner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
    grid-gap: 10px;
}
.proyecto-item{
    width: 80%;
    position: relative;
    overflow: hidden;
    
}
.proyecto-text{
position: absolute;
bottom: 0;
padding: 20px;
background:rgba(0, 0, 0, .5);
color: #fff;
transition:all 0.5s ease-out; ;
transform: translateY(100%)
}

.proyecto-text p{
    text-align: justify;
}
.proyecto-item:hover .proyecto-text{
    transform: translateY(0%) 
}

