           /* Seccion Proyetos */

            .proyectos-text{
              h1 {
               
               text-align: center;
                 margin-top: 0px;
                 margin-bottom: 15px;
                 font-size: 30px;
                 font-family: $fontsPrimary;
                 font-weight: 100;
                 padding-top: 0;
                 
              }
              p{
                
                font-size: 20px;
                text-align: center;
                
                font-family: $fontsSecondary;
              }
            }                        
          
                                    
                                    
           .conteiner-proy{
            width: 100%;
            max-width: 1400px;
            height: 430;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: auto;
        
            &-card{
                width: 350px;
                height: 500;
                border-radius: 8px;
                box-shadow: 0 2px 2px rgb(0,0,0,0.2);
                overflow: hidden;
                margin: 50px;
                text-align: center;
                transition: all 0.25s;
                margin-bottom: 50px;
                img{
                    width: 350px;
                    height: 330px;
                    
        
                }
                h4{
                    font-weight: 500;
                    font-family: $fontsPrimary;
                }
                p{
                    padding: 0 1rem;
                    font-size: 16px;
                    font-weight: 300;
                    text-decoration: none;
                }
                a{
                    font-weight: 500;
                    text-decoration: none;
                }
                
                
            }
        }
        
       

        
        
        //hover
        .conteiner-proy-card:hover{
            transform: translateY(-15px);
            box-shadow: 0 12px 16px rgb(0,0,0,0.5);
        
        }

        @media(max-width: $bplarge) {

            .proyectos-text{
                h1{
                    font-size: $mediatitle;
                    
                }
                p{
                    font-size: $mediap;
                }
            }
        }
        
       