           /* Seccion Proyetos */
           @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,400&display=swap');
           * {
               margin: 0;
               padding: 0;
               box-sizing: border-box;
           }
           
           
      
            .proyectos-text{
              h1 {
                font-family: 'Bebas Neue', sans-serif;
               text-align: center;
                 margin-top: 50px;
                 margin-bottom: 15px;
                 font-size: 30px;
                 font-family: $fontsPrimary;

              }
              p{
                margin-top: 50px;
                font-size: 20px;
                text-align: center;
                margin-bottom: 50px;
                font-family: $fontsSecondary;
              }
            }                        
          
                                    
                                    
           .conteiner .coleccion1 {
            width: 100%;
            max-width: 1400px;
            height: 430;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: auto;
        
            &-card{
                width: 350px;
                height: 500;
                border-radius: 8px;
                box-shadow: 0 2px 2px rgb(0,0,0,0.2);
                overflow: hidden;
                margin: 50px;
                text-align: center;
                transition: all 0.25s;
                margin-bottom: 50px;
                img{
                    width: 350px;
                    height: 330px;
                    
        
                }
                h4{
                    font-weight: 500;
                    font-family: $fontsPrimary;
                }
                p{
                    padding: 0 1rem;
                    font-size: 16px;
                    font-weight: 300;
                    text-decoration: none;
                }
                a{
                    font-weight: 500;
                    text-decoration: none;
                }
                
                
            }
        }
        h2{
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: $fontsPrimary;
        }

       

        
        
        //hover
        .conteiner-card:hover{
            transform: translateY(-15px);
            box-shadow: 0 12px 16px rgb(0,0,0,0.5);
        
        }
        
       