
//colores
$fontlight: #071f38;
$fontBody: #dfdfdf;
$fontNav: hsl(47, 9%, 41%);
$fontFooter: #ffffff;

//brackpoints

$bplarge: 991px;
$bpmin: 330px;

//fonts
$fontsPrimary : font-family 'Bebas Neue', sans-serif;
                
              
$fontsSecondary : font-family 'Josefin Sans', sans-serif;