
//colores
$fontlight: #252d35;
$fontBody: #e3e49f;
$fontNav: hsl(47, 9%, 41%);
$fontFooter: #e2e0bf;

//brackpoints

$bplarge: 991px;

//fonts
$fontsPrimary : font-family 'Bebas Neue', sans-serif;
                
              
$fontsSecondary : font-family 'Overpass', sans-serif;