
//colores
$fontlight: #071f38;
$fontBody: #f8f8d4;
$fontNav: hsl(0, 0%, 50%);
$fontFooter: #ffffff;

//brackpoints

$bplarge: 991px;
$bpmin: 330px;

//fonts
$fontsPrimary : font-family 'Bebas Neue', sans-serif;
                
              
$fontsSecondary : font-family 'Josefin Sans', sans-serif;